.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 200px;
    margin-bottom: 100px;
}

.contact-item {
    padding: 115px;
    font-size: 20px;
    text-align: center;
    flex: 1;
    margin: 0 50px;
    text-decoration: none;
    color: #000000;
    border: solid 1px;
    border-radius: 3em;
}

.contact-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
    color: #080505;
    transition: 500ms linear;
}



@media (max-width: 480px) {
    .contact-container {
        flex-direction: column;
        padding: 5px;
        margin: auto;
        align-items: center;
    }

    .contact-item {
        margin: 20px 0;
        width: auto;
        border: transparent;
    }

    .contact-item:hover {
        background-color: transparent;
        transform: scale(1.0);
        color: #080505;
        transition: 500ms linear;
    }

    .github__area:hover {
        background-image: none;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    .linkedin__area:hover {
        background-image: none;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    .gmail__area:hover {
        background-image: none;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

}