.experience__body{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px;
}


.experience__info{
    border: 1px solid #000000;;
    padding: 85px;
    font-size: 20px;
    text-align: center;
    flex: 1;
    margin: 0 50px; 
    text-decoration: none;
    color: #000000;
}

.icon_skills{
    font-size: 1.5em; 
}

.Title__Company{
    font-size: 80px;
}

.Info__job{
    font-size: 0.75em;
    flex: 1;
}

.sede__cebrace{
    margin-left: 20px;
}

.Infos{
    display: flex;
    flex-direction: row;
}