.App {
  text-align: center;
}


body {
  color: #ECE4DC;
}

#root {
  padding: 10px;
  max-width: 1900px;
  max-height: 1000px;
}

.website {
  margin: 20px auto;
  max-width: auto;
  border: solid 10px;
  border-radius: 3em;
  padding: 0px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.App-header {
  height: 60px;
  border-bottom: 1px solid #000000;
}


.menu {
  display: flex;
  justify-content: space-between; 
  padding-top: 0.5cm;
  padding-left: 1cm;
  padding-right: 1cm;
  margin: 0 80px;
}

nav a {
  text-decoration: none;
  color: #000000;
}

.menu__topics.active {
  font-weight: bold;
}



@media (max-width: 480px) {
  #root {
    color: red;
  }
}