.Main-name {
  font-family: "Josefin Sans";
  font-size: 150px;
  text-align: center;
  margin: 200px 0 0 0;
  color: #000000;
}

.text_main {
  margin-bottom: 210px;
  color: #000000;
}

.icon__skills{
  color: #000000;
  font-size: 2.5em;
}

.download-cv-button {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.download-cv-button:hover {
  background-color: #ECE4DC;
  box-shadow: #ECE4DC 0 -6px 8px inset;
  transform: scale(1.125);
}

.download-cv-button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .download-cv-button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


@media (max-width: 480px){
  .Main-name {
    font-size: 70px;
    text-align: center;
    margin: 200px 0 0 0;
    color: #000000;
  }

  .text_main {
    margin-bottom: 210px;
    font-size: 15px;
  }

}